#gridContainer {
    display: flex;
    flex-wrap: wrap;
    border: 0;
    margin: 0;
    padding: 0;
}

.grid-item {
    width: 20px;
    height: 20px;
    background-color: black;
    margin: 0;
    padding: 0;
    border-width: thin;
    border-style: solid;
    
}

div {
    margin: 0;
    padding: 0;
    
}

button {
    background-color: rgb(205, 202, 50);
    border-style: thin;
    border-radius: 8px;
    margin: 2px;
    border-color: blue;
    
}

button:hover {
    background-color: aqua;
}

body {
    background: linear-gradient(rgb(134, 245, 55), rgb(34, 20, 20));
    height: 100vh;
    width: 100vh;
}

h1 {
    text-align: center;
    color: blue;
}