#gridContainer {
    display: flex;
    flex-wrap: wrap;
    border: 0;
    margin: 0;
    padding: 0;
}

.grid-item {
    width: 20px;
    height: 20px;
    background-color: lightgray;
    margin: 0;
    padding: 0;
    border-width: thin;
    border-style: solid;
    
}

div {
    margin: 0;
    padding: 0;
    
}